.comment-form
	margin-bottom: 0
	label
		margin-bottom: .25rem
	input, textarea
		margin-bottom: .75rem
	.label
		&-description
			font-size: $font-size-sm
			color: $gray-color-500
			text-transform: lowercase
	&-comment
		textarea
			max-width: 100%
	&-cookies-consent
		position: relative
		margin-bottom: 1rem
		input
			position: absolute
			left: 0
			top: .25rem
			margin: 0
		label
			padding-left: 1.5rem
			margin-bottom: 0
	.comment-notes
		display: none
	.submit + .notification
		margin-top: .5rem

.comment
	position: relative
	padding: .75rem 1.125rem
	margin-bottom: 1rem
	background: $gray-color-100
	border: $border-width solid $gray-color-200
	border-radius: $border-radius
	> *
		margin-bottom: .5rem
		&:last-child
			margin-bottom: 0
	&-footer
		@extend .list-inline
	&-reply-title
		margin-bottom: .25rem
	&-header
		min-height: 48px
	&-avatar
		position: absolute
		left: 1.125rem
		top: .75rem
	&-title
		@extend .h6
		padding-left: calc( 48px + .5rem )
		margin-top: .125rem
	&-meta
		@extend .list-inline
		padding-left: calc( 48px + .5rem )
		font-size: $font-size-sm
		color: $gray-color-600
	&-deleted
		.comment-content
			font-style: italic


.comments-title
	margin-bottom: 1rem

.comments-area
	margin-bottom: 0
	> *
		&:last-child
			margin-bottom: 0

.comment-list
	.children
		padding-left: 3rem

.comment-respond
	margin-bottom: 1rem
	position: relative

.cancel-comment-wrapper
	margin-bottom: .75rem

.comment-confirmation-resend
	cursor: pointer
	transition: $transition

@media (min-width: 576px)
	.comment-reply-title
		margin-bottom: .5rem
	.cancel-comment-wrapper
		position: absolute
		top: .375rem
		right: 0
		margin-bottom: 0
