.logo
	position: relative
	display: block
	> *
		display: block
	&-title
		margin-bottom: $gutter
		font-family: $primary-font
		font-size: $h3
		line-height: $h3
	&-description
		margin-bottom: 0 !important
		font-size: $small-font-size
		line-height: $small-font-size
		color: $primary-gray-color
	&-image
		width: auto
	&-xs
		img
			max-height: calc( ( .25rem * 2 + .825rem ) * .825 )
	&-sm
		img
			max-height: calc( ( .375rem * 2 + .825rem ) * .825 )
	&-md
		img
			max-height: calc( ( .5rem * 2 + 1.125rem ) * 1.125 )
	&-lg
		img
			max-height: calc( ( .625rem * 2 + 1.125rem ) * 1.125 )
	&-xl
		img
			max-height: calc( ( .75rem * 2 + 1.125rem ) * 1.125 )

a.logo
	color: $primary-text-color
	text-decoration: none
	&:hover, &:focus, &:active
		color: $primary-text-color

@media ( min-width: 768px )
	.logo
		&-title
			font-size: $h1
			line-height: $h1
		&-description
			font-size: $medium-font-size
			line-height: $medium-font-size
		&-xs
			img
				max-height: calc( ( .25rem * 1.25 * 2 + .825rem ) * .825 )
		&-sm
			img
				max-height: calc( ( .375rem * 1.25 * 2 + .825rem ) * .825 )
		&-md
			img
				max-height: calc( ( .5rem * 1.25 * 2 + 1.125rem ) * 1.125 )
		&-lg
			img
				max-height: calc( ( .625rem * 1.25 * 2 + 1.125rem ) * 1.125 )
		&-xl
			img
				max-height: calc( ( .75rem * 1.25 * 2 + 1.125rem ) * 1.125 )


.content-area, .widget-area, .content-area-header, .content-area-content, .content-area-footer
	> *
		&:not(:last-child)
			@extend .mb

.section, .container-outer, .container-inner
	border-radius: $border-radius

.container-inner
	padding-top: .5rem
	padding-bottom: .5rem

.section-padding, .container-padding
	&-xs
		padding-top: .5rem
		padding-bottom: .5rem
	&-sm
		padding-top: 1rem
		padding-bottom: 1rem
	&-md
		padding-top: 2rem
		padding-bottom: 2rem
	&-lg
		padding-top: 4rem
		padding-bottom: 4rem
	&-xl
		padding-top: 6rem
		padding-bottom: 6rem

.section
	position: relative
	padding-top: 1.5rem
	padding-bottom: 1.5rem
	&-title
		@extend .mb
	&-background, &-primary, &-secondary
		.container-outer
			padding-top: 1rem
			padding-bottom: 1rem
	&-primary
		.container-outer
			background: $primary-bg-color
			border: $border-width solid $primary-bd-color
	&-secondary
		.container-outer
			background: $secondary-bg-color
			border: $border-width solid $secondary-bd-color

.header, .footer
	position: relative
	*
		hyphens: none
	.container-outer
		padding-top: 0
		padding-bottom: 0

.header
	padding-top: 0
	padding-bottom: 0
	&-top-bar
		font-size: $small-font-size

.footer
	padding-bottom: 0
	// .button, .widget, .footer-column, .social-list, .contacts-list, .copyright
	// 	@extend .mb
	&__middle-bar
		// padding-top: $margin*2
		// padding-bottom: $margin
	&__bottom-bar
		//padding-top: $margin
		background-color: $primary-bg-color-hover
		.widget
			// margin-bottom: $margin/2
	&_bottom-bar-active 
		.footer__middle-bar
			// @extend .mb

@media (min-width: 768px)
	// .header__top-bar .header-column, .footer__bottom-bar .footer-column
	// 	&:last-child
	// 		text-align: right

.avatar
	border-radius: 50%

.post
	position: relative
	display: block
	width: 100%
	margin-bottom: $bootstrap-gutter*2
	&-header, &-footer, &-content
		> *
			margin-bottom: $gutter
			&:last-child
				margin-bottom: 0
	&-content
		> *
			margin-bottom: $margin
		> *:first-child
			margin-top: 0 !important
		h2
			margin-top: $gutter*5
		h3
			margin-top: $gutter*4
		h4
			margin-top: $gutter*3
		h5
			margin-top: $gutter*2
		h6
			margin-top: $gutter
		ul, ol
			li
				max-width: 960px
				&:not(:last-child)
					margin-bottom: $margin/2
		ul, ol
			ul, ol
				margin-bottom: 0
		.button
			@extend .mb
	&-meta
		@extend .list-inline
		&__item
			padding-top: .125rem
			padding-bottom: .125rem
			font-size: $small-font-size
		&_block
			@extend .list-block
	&-date
		&-modified
			padding-left: $gutter
			color: $primary-gray-color
	&-footer
		&__item
			display: block
			&:not(:last-child)
				margin-bottom: $gutter*2
		&__list, &__tags, &__cats
			@extend .list-inline
	&-taxonomies
		@extend .list-inline
		> li
			&:not(:last-child)
				margin-right: .125rem
	&-thumbnail-wrap
		position: relative
		> :nth-child(2)
			position: absolute
			top: $gutter*2
			left: $gutter*2
			margin-bottom: 0 !important
		> :nth-child(3)
			position: absolute
			top: auto
			bottom: $gutter*2
			left: $gutter*2
			margin-bottom: 0 !important
	&-author
		&-avatar
			float: left
			margin-right: $gutter*2
		&-date
			padding-bottom: $gutter
			font-size: $small-font-size
			color: $primary-gray-color
	&.post_single
		> *
			&:not(:last-child)
				@extend .mb
	&.post_archive
		.post-title
			font-size: $h4
	&.post_tils
		> *
			&:not(:last-child)
				margin-bottom: $gutter*2
	&.post_list
		> * > *
			&:not(:last-child)
				margin-bottom: $gutter*2
		> * > * > *
			&:not(:last-child)
				margin-bottom: $gutter*2
	&.post_banner
		a.post-thumbnail
			padding-bottom: 140%
		.post-meta, .post-header
			position: absolute
			left: .5rem
			padding: .5rem
			margin-bottom: 0
			background: $white-color
			max-width: calc( 100% - 1rem )
		.post-meta
			top: .5rem
		.post-header
			bottom: .5rem
		.post-title
			font-size: $h5

@media ( min-width: 768px )
	.post
		&.post_list
			> * > *
				&:not(:last-child)
					margin-bottom: 0

@media ( min-width: 992px )
	.post
		&-content
			h2
				margin-top: $gutter*6
			h3
				margin-top: $gutter*5
			h4
				margin-top: $gutter*4
			h5
				margin-top: $gutter*3
			h6
				margin-top: $gutter*2

a.post-thumbnail
	display: block
	padding-bottom: 66.66%
