.logo
	position: relative
	display: block
	> *
		display: block
	&-title
		@extend .h2
		margin-bottom: $gutter
		font-family: $primary-font
	&-description
		margin-bottom: 0 !important
		font-size: $font-size-sm
		line-height: $font-size-sm
		color: $gray-color-500
	img
		width: auto
	&-xs
		img
			max-height: calc( ( .25rem * 2 + .825rem ) * .825 )
	&-sm
		img
			max-height: calc( ( .375rem * 2 + .825rem ) * .825 )
	&-md
		img
			max-height: calc( ( .5rem * 2 + 1.125rem ) * 1.125 )
	&-lg
		img
			max-height: calc( ( .625rem * 2 + 1.125rem ) * 1.125 )
	&-xl
		img
			max-height: calc( ( .75rem * 2 + 1.125rem ) * 1.125 )

a.logo
	color: $text-color
	text-decoration: none
	&:hover, &:focus, &:active
		color: $text-color

@media ( min-width: 768px )
	.logo
		&-description
			font-size: $font-size-md
			line-height: $font-size-md
		&-xs
			img
				max-height: calc( ( .25rem * 1.25 * 2 + .825rem ) * .825 )
		&-sm
			img
				max-height: calc( ( .375rem * 1.25 * 2 + .825rem ) * .825 )
		&-md
			img
				max-height: calc( ( .5rem * 1.25 * 2 + 1.125rem ) * 1.125 )
		&-lg
			img
				max-height: calc( ( .625rem * 1.25 * 2 + 1.125rem ) * 1.125 )
		&-xl
			img
				max-height: calc( ( .75rem * 1.25 * 2 + 1.125rem ) * 1.125 )


.content-area, .widget-area, .content-area-header, .content-area-content, .content-area-footer
	> *
		&:not(:last-child)
			@extend .mb

.section, .container-outer, .container-inner
	border-radius: $border-radius

.container-inner
	padding-top: .5rem
	padding-bottom: .5rem

.section-padding, .container-padding
	&-xs
		padding-top: .5rem
		padding-bottom: .5rem
	&-sm
		padding-top: 1rem
		padding-bottom: 1rem
	&-md
		padding-top: 2rem
		padding-bottom: 2rem
	&-lg
		padding-top: 4rem
		padding-bottom: 4rem
	&-xl
		padding-top: 6rem
		padding-bottom: 6rem

.section
	position: relative
	padding-top: 1.5rem
	padding-bottom: 1.5rem
	&-title
		@extend .mb
	&-background, &-primary, &-secondary
		.container-outer
			padding-top: 1rem
			padding-bottom: 1rem
	&-primary
		.container-outer
			background: $gray-color-50
			border: $border-width solid $gray-color-200
	&-secondary
		.container-outer
			background: $gray-color-100
			border: $border-width solid $gray-color-300

.header, .footer
	position: relative
	*
		hyphens: none
	.container-outer
		padding-top: 0
		padding-bottom: 0

.header
	padding-top: 0
	padding-bottom: 0
	&-top-bar
		font-size: $font-size-sm

.footer
	padding-bottom: 0
	// .button, .widget, .footer-column, .social-list, .contacts-list, .copyright
	// 	@extend .mb
	&__middle-bar
		// padding-top: $margin*2
		// padding-bottom: $margin
	&__bottom-bar
		// padding-top: $margin
		// background-color: $gray-color-50-hover
		.widget
			// margin-bottom: $margin/2
	&_bottom-bar-active 
		.footer__middle-bar
			// @extend .mb

@media (min-width: 768px)
	// .header__top-bar .header-column, .footer__bottom-bar .footer-column
	// 	&:last-child
	// 		text-align: right

.avatar
	border-radius: 50%

.post, .post-header, .post-footer, .post-content, .post-content-wrap
	> *
		margin-bottom: .25rem
		&:last-child
			margin-bottom: 0

.post
	position: relative
	display: flex
	flex-direction: column
	width: 100%
	margin-bottom: calc( var( --post-margin ) * 2 )
	&-single
		> *
			margin-bottom: .5rem
		.post-thumbnail
			max-height: 65vh
	&-content-wrap, &-thumbnail-wrap
		position: relative
	&-thumbnail-wrap
		.post-taxonomies
			position: absolute
			top: calc( var( --post-thumbnail-padding ) + .5rem )
			left: calc( var( --post-thumbnail-padding ) + .5rem )
			margin-bottom: 0 !important
			z-index: 1
	&-content
		> *
			max-width: 960px
			margin-bottom: 1rem
		> *:first-child
			margin-top: 0 !important
		h2
			margin-top: $gutter*5
		h3
			margin-top: $gutter*4
		h4
			margin-top: $gutter*3
		h5
			margin-top: $gutter*2
		h6
			margin-top: $gutter
		ul, ol
			li
				&:not(:last-child)
					margin-bottom: $margin/2
		ul, ol
			ul, ol
				margin-bottom: 0
		.button
			@extend .mb
	&-thumbnail
		width: 100%
		object-fit: cover
	&-meta
		@extend .list-inline
		&-item
			font-size: $font-size-sm
		&-block
			@extend .list-block
	&-date
		&-modified
			padding-left: .25rem
			color: $gray-color-500
	&-footer
		&-item
			display: block
			&:not(:last-child)
				margin-bottom: .5rem
		&-list, &-tags, &-cats
			@extend .list-inline
	&-taxonomies
		@extend .list-inline
		> li
			&:not(:last-child)
				margin-right: .125rem
	&-author
		&-avatar
			float: left
			margin-right: .5rem
		&-date
			padding-bottom: .25rem
			font-size: $font-size-sm
			color: $gray-color-500
	&-archive
		background: var( --post-background )
		box-shadow: var( --post-shadow )
		border-radius: var( --post-border-radius )
		border: var( --post-border-width ) solid var( --post-border-color )
		height: calc( 100% - var( --post-margin ) * 2 )
		&:hover, &:focus, &:active
			box-shadow: var( --post-shadow-hover )
		.post-meta-item
			font-size: .75rem
			&.icon-before
				padding-left: calc( .875rem + .25rem )
		.post-thumbnail-wrap
			padding: var( --post-thumbnail-padding ) var( --post-thumbnail-padding ) 0
			margin-bottom: 0
		.post-content-wrap
			display: flex
			flex-direction: column
			flex-grow: 1
			padding: var( --post-thumbnail-padding ) var( --post-content-padding ) var( --post-content-padding )
		.post-title
			@extend .h4
		&.post-format-standard
			.post-header
				display: flex
				flex-direction: column
				flex-grow: 1
	&-aside
		padding: calc( var( --post-content-padding ) / 2 )
		.post-thumbnail-wrap, .post-content-wrap
			padding: 0
		.post-title
			@extend .h6
	&-list
		.post-thumbnail-wrap
			height: 100%
			width: 100%
			.post-taxonomies
				top: calc( var( --post-margin ) + .5rem )
				left: calc( var( --post-margin ) + .5rem )
			img
				height: 100%
	&-format-image
		&:not(.post-list)
			> *
				color: $white-color
			.post-author-date
				color: var( --white-color )
			.link
				@extend .link-white
			.post-content-wrap
				display: flex
				flex-direction: column
				justify-content: flex-end
				padding: calc( var( --post-thumbnail-padding ) + var( --post-content-padding ) )
			.post-thumbnail-wrap
				position: absolute
				padding: var( --post-thumbnail-padding )
				height: 100%
				width: 100%
				img
					height: 100%
					filter: brightness( 50% )

@media (min-width: 768px)
	.post
		&-list
			padding: var( --post-content-padding )
			.post-thumbnail-wrap, .post-content-wrap
				padding: 0
		&-aside
			padding: calc( var( --post-content-padding ) / 2 )

@media ( min-width: 992px )
	.post
		&-content
			h2
				margin-top: $gutter*6
			h3
				margin-top: $gutter*5
			h4
				margin-top: $gutter*4
			h5
				margin-top: $gutter*3
			h6
				margin-top: $gutter*2
