.logo
	position: relative
	display: block
	> *
		display: block
	&__title
		margin-bottom: $gutter
		font-family: $primary-font
		font-size: $h1
		line-height: $h1
	&__description
		margin-bottom: 0 !important
		font-size: $medium-font-size
		line-height: $medium-font-size
		color: $primary-gray-color

a.logo
	color: $black-color
	text-decoration: none
	&:hover, &:focus, &:active
		color: $black-color

.custom-logo
	width: auto
	max-height: 86px

.section
	position: relative
	padding-top: $margin*3
	padding-bottom: $margin*2
	&-title
		@extend .mb
	&_content, &_breadcrumbs
		padding: $margin 0
	&-primary
		background: $primary-bg-color
		border: $border-width solid $primary-bd-color
		border-radius: $border-radius
	&-secondary
		background: $secondary-bg-color
		border: $border-width solid $secondary-bd-color
		border-radius: $border-radius
	&_subscription-form
		border-radius: $border-radius
		.title-wrapper
			margin-bottom: .75rem
			> *:not(:last-child)
				margin-bottom: .25rem

.front-page 
	.section_content
		padding: 0
	.content-area
		> .section
			margin-bottom: 0

.content-area
	@extend .mb
	&-title
		margin-bottom: 0
	> * 
		padding: 0
		&:not(:last-child)
			@extend .mb

.content-area, .widget-area
	padding-top: 1rem
	padding-bottom: 1rem

.header, .footer
	position: relative
	*
		hyphens: none
	h1, h2, h3, h4, h5, h6, p
		margin-bottom: $margin/2
	&__item
		display: block
		margin-bottom: $margin/2
		vertical-align: middle
		ul 
			li
			display: inline-block
			&:not(:last-child)
				margin-right: $margin

.header
	ul, ol
		&:last-child
			margin-bottom: 0
	&__top-bar
		font-size: $small-font-size
	&__top-bar, &__middle-bar, &__bottom-bar
		padding: $margin/2 0
	&_background-image
		.header__middle-bar
			min-height: 320px
	&_simple
		.logo
			margin-right: $margin
	&_logo-center
		.logo
			text-align: center
		.custom-logo-link
			display: inline-block
	&_top-bar-active
		.header__middle-bar
			padding-top: $margin/2

.footer
	padding-top: $margin-section
	.btn, .button, .widget, .footer-column, .social-list, .contacts-list, .copyright
		@extend .mb
	&__middle-bar
		padding-top: $margin*2
		padding-bottom: $margin
	&__bottom-bar
		padding-top: $margin
		background-color: $primary-bg-color-hover
		.widget
			margin-bottom: $margin/2
	&_bottom-bar-active 
		.footer__middle-bar
			@extend .mb

@media (min-width: 768px)
	.header__top-bar .header-column, .footer__bottom-bar .footer-column
		&:last-child
			text-align: right

.search-sidebar
	width: 100%
	height: 100vh
	position: fixed
	top: 0
	left: 0
	z-index: 2000
	padding-top: calc(50vh - 100px)
	display: none
	&::before
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		z-index: -1
		opacity: 0.9
		background: $primary-bg-color
	.search-form
		width: 100%
	&.on
		display: block
	&-wrap
		position: relative
		display: flex
		flex-direction: column
		align-items: center
		margin: auto
		max-width: 480px
	&-close
		position: absolute
		top: -2.75rem
		right: 0
		width: 2.25rem
		height: 2rem
		&::before
			width: 2.25rem
			height: 2rem

.avatar
	border-radius: 50%

.post
	position: relative
	display: block
	width: 100%
	@extend .mb
	&-header
		> *
			margin-bottom: $gutter
			&:last-child
				margin-bottom: 0
	&-header, &-footer, &-thumbnail, &-content, &-meta
		max-width: 960px
	&-content
		> *
			margin-bottom: $margin
		> *:first-child
			margin-top: 0 !important
		h2
			margin-top: $gutter*5
		h3
			margin-top: $gutter*4
		h4
			margin-top: $gutter*3
		h5
			margin-top: $gutter*2
		h6
			margin-top: $gutter
		ul, ol
			li
				max-width: 960px
				&:not(:last-child)
					margin-bottom: $margin/2
		ul, ol
			ul, ol
				margin-bottom: 0
		.btn, .button
			@extend .mb
	&-meta
		@extend .list-inline
		&__item
			padding-top: .125rem
			padding-bottom: .125rem
			font-size: $small-font-size
		&_block
			@extend .list-block
	&-date
		&-modified
			padding-left: $gutter
			color: $primary-gray-color
	&-footer
		&__item
			display: block
			&:not(:last-child)
				margin-bottom: $gutter*2
		&__list, &__tags, &__cats
			@extend .list-inline

	&-taxonomies
		@extend .list-inline
		> li
			&:not(:last-child)
				margin-right: .125rem
	&-thumbnail-wrap
		position: relative
		> :nth-child(2)
			position: absolute
			top: $gutter*2
			left: $gutter*2
			margin-bottom: 0 !important
		> :nth-child(3)
			position: absolute
			top: auto
			bottom: $gutter*2
			left: $gutter*2
			margin-bottom: 0 !important
	&-formats
		.button-small
			border-radius: 1rem
	&-author
		&-avatar
			float: left
			margin-right: $gutter*2
		&-date
			padding-bottom: $gutter
			font-size: $small-font-size
			color: $primary-gray-color
	&.post_single
		> *
			&:not(:last-child)
				@extend .mb
	&.post_archive
		.post-title
			font-size: $h4
	&.post_tils
		> *
			&:not(:last-child)
				margin-bottom: $gutter*2
	&.post_list
		> * > *
			&:not(:last-child)
				margin-bottom: $gutter*2
		> * > * > *
			&:not(:last-child)
				margin-bottom: $gutter*2
	&.post_banner
		a.post-thumbnail
			padding-bottom: 140%
		.post-meta, .post-header
			position: absolute
			left: .5rem
			padding: .5rem
			margin-bottom: 0
			background: $white-color
			max-width: calc( 100% - 1rem )
		.post-meta
			top: .5rem
		.post-header
			bottom: .5rem
		.post-title
			font-size: $h5

@media ( min-width: 768px )
	.post
		&.post_list
			> * > *
				&:not(:last-child)
					margin-bottom: 0

@media ( min-width: 992px )
	.post
		&-content
			h2
				margin-top: $gutter*6
			h3
				margin-top: $gutter*5
			h4
				margin-top: $gutter*4
			h5
				margin-top: $gutter*3
			h6
				margin-top: $gutter*2

a.post-thumbnail
	display: block
	padding-bottom: 66.66%
