.header-desktop
	display: none

@media (min-width: 768px)
	.header-mobile
		display: none
	.header-desktop
		display: block

// #Menu aside
.aside-menu
	position: fixed
	top: 0
	right: 0
	height: 100%
	width: 100%
	max-width: 380px
	overflow-x: auto
	overflow-x: hidden
	background: $gray-color-50
	transition: $transition
	z-index: 2000
	box-shadow: $box-shadow
	transform: translateX( 100% )
	&.on
		transform: translateX( 0 )
	&.has_wpadminbar
		top: 32px
	> *
		margin: 0 1.875rem 1.875rem
		display: block
		width: auto
		max-width: 100%
		&:first-child
			margin-top: 1.875rem
		&:last-child
			margin-bottom: 0
	&-toggle
		text-align: right

@media screen and (max-width: 782px)
	.aside-menu
		&.has_wpadminbar
			top: 46px

.menu-wrap
	display: block
	&-right
		text-align: right

// #Menu
.menu
	text-align: left
	padding: 0
	margin-bottom: 0
	&-title
		> *
			display: inline-block
			vertical-align: middle
			margin-left: .25rem
		&.has-top-lvl
			font-family: $primary-font
			&.has-description
				font-weight: bolder
	&-description
		font-size: $font-size-sm
		color: $gray-color-500
	&-item
		display: block
		font-size: $font-size-sm
		> *
			display: inline-block
			vertical-align: middle
			&[type="button"]
				margin-left: .25rem
		a
			display: inline-block
			padding: .25rem 0
			vertical-align: middle
			> *
				display: block
	&-count-button
		margin-top: .25rem
		float: right
	&-inline
		.menu-count-button
			margin-top: .375rem
		.menu-item
			font-size: $font-size-md
			margin: 0 .5rem
		> .menu-item
			display: inline-block
			vertical-align: middle
			&:first-child
				margin-left: 0
			&:last-child
				margin-right: 0

.dropdown
	&-container
		position: relative
	&-button
		&.on
	&-content
		display: none
		transition: $transition
		padding-left: .5rem
		&.on
			display: block
		&-absolute
			position: absolute
			left: 0
			top: 100%
			z-index: 11
			min-width: 220px
			padding: .5rem
			background: $gray-color-50
			border-radius: $border-radius
			border-top-left-radius: 0
			border-top-right-radius: 0
			text-align: left
			box-shadow: 0 10px 10px rgba( 0, 0, 0, 0.1 )
			.dropdown-button
				&::before
					transform: translate( -50%, -50% ) rotate( -90deg )
			.dropdown-content
				top: -.5rem
				left: 100%
				border-radius: $border-radius
			.menu-item
				border-bottom: 1px solid $gray-color-200