.post-navigation
	&-item
		a
			display: block
			padding: $padding
			color: $text-color
			background-color: $gray-color-50
			border: $border-width solid $gray-color-200
			&:hover, &:focus, &:active
				background-color: $primary-color-500
	.entry-title, .entry-post-date
		display: block
	.entry-post-date
		color: $gray-color-500
		font-size: $font-size-sm

.posts-navigation
	&-item
		margin-bottom: $gutter
		overflow: hidden
		&:not(:last-child)
			margin-right: .25rem

@media (min-width: 576px)
	.post-navigation, .posts-navigation
		&-item-first, &-item-prev
			text-align: left
		&-item-last, &-item-next
			text-align: right