.scroll-top-wrap
	display: none
	position: fixed
	z-index: 9
	bottom: $margin
	right: $margin
	> *
		display: block
		margin-bottom: .5rem
		&:last-child
			margin-bottom: 0 !important

@media (min-width: 992px)
	.scroll-top-wrap
		bottom: $margin*2
		right: $margin*2

.breadcrumbs
	font-size: $font-size-sm
	li
		display: inline
		&:not(:last-child)
			margin-right: .25rem
	&-sep
		padding-left: .375rem
		padding-right: .125rem

// #lists
.social-list, .contact-list, .button-list, .language-list, .likes-list, .breadcrumbs-list
	&-block
		@extend .list-block
	&-inline
		@extend .list-inline
		> *:not(:last-child)
			margin-right: .25rem

.social-list
	&-icons
		line-height: 1rem

.cookie
	position: fixed
	bottom: 0
	left: 0
	right: 0
	z-index: 1000
	background-color: $gray-color-50
	padding: $margin/2 0
	border-top: 2px solid $gray-color-200
	.container-inner
		position: relative
	&-text
		font-size: $font-size-sm
		margin-bottom: 0 !important
	&-button-wrap
		position: absolute
		top: 0
		right: 0
	&-button
		margin-bottom: 0 !important

// #notifications
.notification
	position: relative
	display: block
	margin-bottom: $gutter*2
	padding: $gutter*2 $gutter*4
	max-width: inherit
	border-radius: $border-radius
	background-color: $gray-color-50
	font-size: $font-size-sm
	hyphens: none
	> *:last-child
		margin-bottom: 0
	&_allert
		background-color: $allert-color
	&_warning
		background-color: $warning-color
	&_accept
		background-color: $accept-color
	&-button-wrap
		position: absolute
		top: $gutter*2
		right: $gutter*4
		line-height: 0
	&-button
		margin-bottom: 0 !important

.likes
	&-title
		@extend .h6
		margin-bottom: .375rem

.language-switcher
	&-item
		position: relative
		padding-left: calc( 1rem + .375rem )
	img
		position: absolute
		top: 50%
		left: .125rem
		transform: translateY( -50% )

.aspect-ratio
	position: relative
	display: block
	padding-bottom: $aspect-ratio
	height: 0
	overflow: hidden
	> *
		position: absolute
		top: 0
		left: 0
		bottom: 0
		right: 0
		width: 100%
		height: 100%
		border-width: 0
		outline-width: 0
		object-fit: cover

.popup
	position: relative
	margin: auto
	max-width: 480px
	padding: calc( 36px + .5rem ) 0
	&.has-inside
		max-width: calc( 480px + 4rem )
	&-inside
		padding: 2rem
		background: $gray-color-50
	button[type="button"]
		color: $white-color

// #masonry.
.masonry-container
	margin-right: -$gutter
	margin-left: -$gutter
	.masonry-item
		padding-right: $gutter
		padding-left: $gutter
		margin-bottom: $gutter*2
		.caption
			position: absolute
			bottom: 0
			left: $gutter
			padding: $padding/2
			color: $text-color
			transition: $transition
	.masonry-caption
		text-align: right
		*
			display: inline-block
			font-size: $font-size-sm

// #Advertising banners
.ab
	position: relative
	display: flex
	width: 100%
	border-radius: $border-radius
	overflow: hidden
	img
		width: inherit
		object-fit: cover
		align-self: center
	&-offer
		position: absolute
		bottom: .75rem
		left: .75rem
		max-height: calc( 100% - 1.5rem )
		max-width: calc( 100% - 1.5rem )
		padding: .75rem 1.25rem
		border-radius: $border-radius
		color: $white-color
		background: $primary-color-500
		text-align: left
		overflow: hidden
	&.has_mobile
		.ab-desktop
			display: none
		.ab-mobile
			display: block

@media (min-width: 768px)
	.ab
		&.has_mobile
			.ab-desktop
				display: block
			.ab-mobile
				display: none

.fade-in
	animation: fadeIn 1.15s

@keyframes fadeIn
	0%
		opacity: 0
	100%
		opacity: 1
