.widgets
	&-block
		> *
			margin-bottom: 1.5rem
			&:last-child
				margin-bottom: 0
		&.widgets-main
			> *
				margin-bottom: 3rem
				&:last-child
					margin-bottom: 0
	&-inline
		margin-bottom: 0
		> *
			margin-bottom: .125rem
			margin-right: .375rem
			display: inline-block
			vertical-align: middle
			&:last-child
				margin-right: 0
				margin-bottom: .125rem

@media (min-width: 576px)
	.widgets
		&-sm-inline
			margin-bottom: 0
			> *
				margin-bottom: .125rem
				margin-right: .375rem
				display: inline-block
				vertical-align: middle
				&:last-child
					margin-right: 0
					margin-bottom: .125rem

@media (min-width: 768px)
	.widgets-md-inline
		margin-bottom: 0
		> *
			margin-bottom: .125rem
			margin-right: .375rem
			display: inline-block
			vertical-align: middle
			&:last-child
				margin-right: 0
				margin-bottom: .125rem

@media (min-width: 992px)
	.widgets-lg-inline
		margin-bottom: 0
		> *
			margin-bottom: .125rem
			margin-right: .375rem
			display: inline-block
			vertical-align: middle
			&:last-child
				margin-right: 0
				margin-bottom: .125rem

@media (min-width: 1200px)
	.widgets-xl-inline
		margin-bottom: 0
		> *
			margin-bottom: .125rem
			margin-right: .375rem
			display: inline-block
			vertical-align: middle
			&:last-child
				margin-right: 0
				margin-bottom: .125rem

.widget
	position: relative
	&title, &-title
		@extend .h4
		margin-bottom: .5rem
	&-subtitle, &-description
		font-size: $font-size-sm
		color: $gray-color-500
	&-background
		padding: 1rem 1.25rem
		border-radius: $border-radius
	&-gray
		background: $gray-color-100
	&-primary
		background: $primary-color-50
	&-secondary
		background: $secondary-color-50
	&-title-wrap
		margin-bottom: .75rem
		> *
			margin-bottom: .25rem
			&:last-child
				margin-bottom: 0
	&-menu-title
		@extend .h6
		margin-bottom: .25rem
	&-menus
		nav
			margin-bottom: .375rem
	&-header-top-left, &-header-top-right, &-footer-top-left, &-footer-top-right, &-footer-bottom-left, &-footer-bottom-right
		.menu
			@extend .list-inline
	&_recent_entries
		a
			@extend .link
		.post-date
			display: block
			margin-top: $gutter
			font-size: $font-size-sm
			color: $gray-color-400
	&_rss
		.rss-date, .rssSummary, cite, img
			display: block
			margin-top: $gutter
		.rss-date, cite
			font-size: $font-size-sm
			color: $gray-color-500
	&_recent_comments
		span.comment-author-link
			display: block
			font-size: $font-size-sm
			color: $gray-color-500