.widgets
	> *
		&:not(:last-child)
			margin-bottom: 1.5rem
	&-left
		text-align: left
	&-center
		text-align: center
	&-right
		text-align: right
	&-inline
		.widget-primary-menu
			margin-right: 1rem
		> *
			margin-bottom: .125rem
			margin-right: .5rem
			display: inline-block
			vertical-align: middle
			&:not(:last-child)
				margin-bottom: .125rem
			&:last-child
				margin-right: 0 !important

.footer
	.widgets
		margin-bottom: 1rem

.widget
	position: relative
	&-title-wrap
		margin-bottom: .5rem
		> *:not(:last-child)
			margin-bottom: .25rem
	&-title
		@extend .h4
	&-subtitle, &-description
		font-size: $small-font-size
		color: $primary-gray-color
	&-menu-title
		@extend .h6
		margin: .25rem 0
	ul, ol, dl
		// list-style-type: none
		// padding-left: 0
		// li:not(:last-child)
		// 	margin-bottom: .375rem
	&_recent_entries
		.post-date
			display: block
			margin-top: $gutter
			font-size: $small-font-size
			color: $primary-gray-color
	&_rss
		.rss-date, .rssSummary, cite, img
			display: block
			margin-top: $gutter
		.rss-date, cite
			font-size: $small-font-size
			color: $primary-gray-color
	&_recent_comments
		span.comment-author-link
			display: block
			font-size: $small-font-size
			color: $primary-gray-color